body {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 100vw;
  background-color: $color-1;
}

header {
  padding: 40px;
  border-bottom: $border;
  text-align: left;
}

.app {
  &__container {
    @media (min-width: $screen-desktop) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
