h1 {
  font-size: $font-size-lg;
  font-weight: 700;
  line-height: 48px;
}

h2 {
  font-size: $font-size;
  font-weight: 600;
  line-height: 28.64px;
}

p.caption {
  font-size: $font-size-md;
  font-weight: 500;
  line-height: 19.09px;
  color: $color-4;
}

.init {
  &--sm {
    font-size: $font-size-md;
  }

  &--md {
    font-size: $font-size;
  }
}
