//SCREEN SIZES
$screen-mobile: 36em;
$screen-tablet: 62em;
$screen-desktop: 76em;

//COLORS
$color-1: #FFFFFF;
$color-2: #E5E5E5;
$color-3: #EEEEEE;
$color-4: #CCCCCC;
$color-5: #AAAAAA;
$color-6: #94BFFF;
$color-7: #61A0FF;
$color-8: #000000;
$color-9: #FFC93D;

//PADDING
$pad-sm: 12px;
$pad: 24px;
$pad-md: 33px;
$pad-lg: 40px;

//FONT SIZE
$font-size-md: 16px;
$font-size: 24px;
$font-size-lg: 40px;

//BORDERS
$border-radius: 8px;
$border: solid 1px $color-4;
